* {
  box-sizing: border-box;
}
body {
  background-image: url(https://i.stack.imgur.com/kb0Zm.jpg);
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
.containerLogo {
  width: 100%;
  height: auto;
  padding: 14px;
}
.logo {
  width: 100%;
  height: 150px;
  background: url("budzet.jpg") no-repeat center center;
  background-size: 90%, 50%, contain;
}
.container-header {
  padding: 14px;
  display: flex;
  justify-content: end;
  float: left;
  width: 100%;
}
.titleL,
.titleR,
#ballance,
.totalInc,
.totalExp {
  display: flex;
  padding: 13px;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
}
.titleL {
  float: left;
  justify-content: end;
  width: 50%;
}
.titleR {
  float: right;
  width: 40%;
}

.inner {
  margin: 0 auto;
  display: flex;
  padding: 14px;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  justify-content: center;
  font-weight: bold;
}
.header {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid black;
  justify-items: center;
}
input,
.expense-title,
.income-title {
  text-align: center;
}

.warning {
  border: 2px solid #ef2929;
  color: red;
  border-radius: 3px;
  padding: 0.3rem;
  background: rgba(248, 166, 166, 0.3);
  margin-bottom: 0.5rem;
  word-break: break-word;
}
.hidden {
  display: none;
}
ul {
  list-style-type: circle;
  width: 70%;
}
.ul_warn {
  width: 100%;
}
.totalExp,
.totalInc {
  text-align: center;
  justify-content: center;
}
.totalExp,
.totalInc,
#ballance {
  margin: 0 5px;
  border: none;
  font-size: x-large;
}
.incomes {
  color: #41b941;
  font-size: large;
  font-weight: bold;
}
.expenses {
  color: #d72f2f;
  font-size: large;
  font-weight: bold;
}

.container {
  flex-direction: column;
  float: left;
  width: 100%;
}
.font {
  font-weight: bold;
}
.incomes,
.expenses,
.addInc,
.addExp {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  float: left;
}
.addInc,
.addExp {
  font-size: 0.73em;
}
#reset {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  transition: 1s;
  background-color: lightgrey;
  font-weight: bold;
}
#reset:hover {
  background-color: red;
  color: black;
  transition: 1s;
  transform: scale(1.25);
}
.footer {
  padding-top: 80px;
  justify-self: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.negative {
  color: red;
}
.inplus {
  color: green;
}
#ballance {
  border: none;
  display: flex;
  left: 5em;
  width: auto;
  font-size: 45px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

li {
  position: relative;
  list-style-type: circle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px;
}

.editLi {
  border: 1px solid black;
  font-size: x-large;
  font-weight: 600;
  color: black;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .logo {
    background-size: 70%, 50%, contain;
  }
  .titleL,
  .titleR,
  .totalInc,
  .totalExp {
    font-size: xx-large;
  }
  .inner {
    margin: 0 40%;
    font-weight: bold;
  }
}
